<?xml version="1.0" encoding="utf-8"?>
<!-- AdminCon 3.0 Command Line Interface Edition - 源代码 - app.config
     主要功能：XML Documentation: 应用程序配置
     适用.NET版本：.NET Core 3.x 或 .NET Framework 4.x
     (c) 2017-2021 Project Amadeus. All rights reserved.-->
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
